<div class='sidebar' id='sidebar'>
	<% @projects.each do |project| %>
		<%= button_to project_path(selected_project(project)), method: :get, remote: true, class: 'row-box', id: 'row-box' do %>
			<div class='project project-title'>
				<%= project.title %>
				<% if admin_user? %>
					<%= link_to '(edit)', edit_project_path(selected_project(project)), class: 'edit' %>
				<% end %>
				<div class='project project-description'>
					<%= project.description %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<div class="display" id="display">
	<%= image_tag "logo.png", class: "center-logo" %>
	<div class="show-text" id="show-text">
		<span>W</span>
		<span>e</span>
		<span> </span>
		<span> </span>
		<span>a</span>
		<span>r</span>
		<span>e</span>
		<span> </span>
		<span> </span>
		<span>g</span>
		<span>o</span>
		<span>i</span>
		<span>n</span>
		<span>g</span>
		<span> </span>
		<span> </span>
		<span>t</span>
		<span>o</span>
		<span> </span>
		<span> </span>
		<span>s</span>
		<span>h</span>
		<span>o</span>
		<span>w</span>
		<span> </span>
		<span> </span>
		<span>y</span>
		<span>o</span>
		<span>u</span>
		<span> </span>
		<span> </span>
		<span>s</span>
		<span>o</span>
		<span>m</span>
		<span>e</span>
		<span> </span>
		<span> </span>
		<span>a</span>
		<span>w</span>
		<span>e</span>
		<span>s</span>
		<span>o</span>
		<span>m</span>
		<span>e</span>
		<span> </span>
		<span> </span>
		<span>p</span>
		<span>r</span>
		<span>o</span>
		<span>j</span>
		<span>e</span>
		<span>c</span>
		<span>t</span>
		<span>s</span>
	</div>
</div>

