<div class='sidebar' id='sidebar'>
	<% @projects.each do |project| %>
		<%= button_to project_path(selected_project(project)), method: :get, remote: true, class: 'row-box', id: 'row-box' do %>
			<div class='project project-title'>
				<%= project.title %>
				<% if admin_user? %>
					<%= link_to '(edit)', edit_project_path(selected_project(project)), class: 'edit' %>
				<% end %>
				<div class='project project-description'>
					<%= project.description %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<div class="display" id="display">
	<div class="show-text" id="show-text">
		We  are  going  to  show  you  some  awesome  projects...
	</div>
</div>

<div class="small-screen">
	<div class="display-only-small-screen">
		<% @projects.each_with_index do |project, index| %>
			<a href="<%= project.documentation.url %>" class="project project-<%= index %>">
				<span class="project-title"><%= project.title %></span>
				<span class="project-description"><%= project.description %></span>
			</a>	
		<% end %>
	</div>
</div>